<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>WebPortal.com</title>
    <link rel="icon" th:href="@{/img/common/favicon.ico}" href="../../static/img/common/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
  </head>
  <body>
    <header>
      <a href="#" th:href="@{/}"><img class="header-logo" th:src="@{/img/common/webportal.png}"
          src="../../static/img/common/webportal.png" /><strong>WebPortal.com</strong></a>
      <a href="#" th:href="@{/logout}"><img th:src="@{/img/common/exit.svg}"
          src="../../static/img/common/exit.svg" />ログアウト </a>
    </header>
    <main>
      <h1 class="page-title">タスク 管理</h1>
      <p class="success-message" th:if="${message}" th:text="${message}">メッセージ</p>
      <p class="error-message" th:if="${errorMessage}" th:text="${errorMessage}">エラーメッセージ</p>
      <div class="card">
        <div class="card-content">
          <h2>タスク 一覧</h2>
          <table>
            <thead>
              <tr>
                <th>No.</th>
                <th>タスク</th>
                <th>期限日</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="task, status : ${taskEntity.tasklist}">
                <td th:text="${status.count}">1</td>
                <td th:text="${task.title}">タイトル</td>
                <td th:text="${task.limitday}">2020/11/11</td>
                <td>
                  <form method="post" th:action="@{/task/delete}">
                    <input type="hidden" th:value="${task.id}" name="id" />
                    <button class="bg-danger" type="submit">削除</button>
                  </form>
                </td>
                <td>
                  <form method="post" th:action="@{/task/complete}" th:if="${!task.isComplate}">
                    <input type="hidden" th:value="${task.id}" name="id" />
                    <button type="submit">完了</button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
                  <form method="post" th:action="@{/task/csv}">
                    <button class="bg-danger" type="submit">CSV出力
                    </button>
                  </form>

        </div>
      </div>
      <!-- .card -->
      <div class="card">
        <div class="card-content">
          <h2>タスク 登録</h2>
          <div>
            <form method="post" th:action="@{/task/insert}">
              <label for="title">タスク内容*</label>
              <input type="text" id="title" name="title" placeholder="タスク内容" />
              <label for="date">期限日*</label>
              <input id="date" type="date" name="limit" />
              <button class="bg-warning" type="submit">追加</button>
            </form>
          </div>
        </div>
      </div>
      <!-- .card -->
    </main>
    <footer>&copy; 2024 WebPortal.com</footer>
  </body>
</html>
