<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>WebPortal.com</title>
  <link rel="icon" th:href="@{/img/common/favicon.ico}" href="../static/img/common/favicon.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
  <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" />
</head>

<body>
  <header>
    <a href="#" th:href="@{/}"><img class="header-logo" th:src="@{/img/common/webportal.png}"
        src="../static/img/common/webportal.png" /><strong>WebPortal.com</strong></a>
  </header>
  <main>
    <div class="card text-center">
      <div class="card-content">
        <h1>ログイン</h1>
        <div>
          <p class="error-message" th:if="${errorMessage}" th:text="${errorMessage}">
            ログインメッセージ
          </p>
          <form method="post" th:action="@{/login}">
            <label for="user_id">ユーザID(メールアドレス)</label>
            <input id="user_id" type="text" name="user_id" placeholder="xxxxxxx@xxx.xxx" />
            <label for="password">パスワード</label>
            <input id="password" type="password" name="password" placeholder="xxxxxxxx" />
            <button type="submit">ログイン</button>
          </form>
        </div>
      </div>
    </div>
    <!-- .card -->
  </main>
  <footer>&copy; 2024 WebPortal.com</footer>
</body>

</html>
